<footer id="footer-block">
  <div class="container">
    <div class="content-group">
      <div class="subscribe-group">
        <span class="label">訂閱更多消息</span>
        <div class="ipt-group">
          <input type="email" class="ipt secondary" placeholder="Email" />
          <span class="bell-box">
            <iconify-icon icon="heroicons:bell-alert-solid" class="bell"></iconify-icon>
          </span>
        </div>
      </div>
      <div class="social-link">
        <iconify-icon icon="ic:baseline-facebook" class="icon"></iconify-icon>
        <iconify-icon icon="mingcute:ins-fill" class="icon"></iconify-icon>
        <iconify-icon icon="mingcute:threads-line" class="icon"></iconify-icon>
      </div>
    </div>
    <p class="label copyright">
      Copyright © 2022 PETSLOVE. All rights reserved.
    </p>
  </div>
</footer>
