<nav class="nav">
  <div class="container navbar">
    <a href="../index.html" class="brand">
      <h1>PETSLOVE</h1>
    </a>
    <ul>
      <li class="body"><a href="/adoptionPage/index.html">動物領養</a></li>
      <li class="body"><a href="/productsPage/index.html">周邊商品</a></li>
      <li class="body"><a href="/donatePage/index.html">捐款支持</a></li>
      <a href="../loginPage/login.html" class="btn secondary mobile-btn">登入</a>
    </ul>
    <div class="user-block">
      <a href="../cartPage/index.html" class="mdi--cart">
        <iconify-icon icon="mdi:cart" width="40" height="40"></iconify-icon>
        <span class="cart-count">2</span>
      </a>
      <a href="../loginPage/login.html" class="btn secondary d-sm-none">登入</a>
      <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>
  </div>
</nav>
